.container{
    
    
    text-align: center;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=-1&s=1");
    padding: 100px;

}
.field{
    margin-bottom: 20px;
    padding: 20px;
}